<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><i class="icon-question-sign"></i> Ayuda</a></li>
    <li class="dropdown">
      <a id="menu-usuario" href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= usuario_actual.nombres %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/usuarios/<%= usuario_actual._id %>">Ver mi perfil</a></li>
        <li><a href="/usuarios/<%= usuario_actual._id %>/edit">Editar mi perfil</a></li>
        <li><a href="/usuarios/<%= usuario_actual._id %>/modificar_password">Modificar mi contraseña</a></li>
        <% if (usuario_actual.permisos.indexOf('usuarios') > -1) { %>
          <li class="divider"></li>
          <li><a href="/usuarios">Administrar usuarios</a></li> 
        <% } %>
        <li class="divider"></li>
        <li><a href="/sesiones?_method=DELETE">Cerrar sesión</a></li> 
      </ul>
    </li>
  </ul>
</div>