<% layout('layout') -%>
<div class="row">
  <div class="col-lg-offset-2 col-12 col-lg-7">
    <form accept-charset="UTF-8" action="/olvide_password" method="post">
        <div class="row">
          <div class="col-6 col-lg-4 marca">
            Correo electrónico:
          </div>
          <div class="col-6 col-lg-3">
            <input id="email" name="email" size="30" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12" style="text-align:center;padding:20px">
            <button class="btn btn-large btn-info" type="submit">Enviar correo electrónico</button>
          </div>
        </div>
    </form>
  </div>
</div>

