body{
    padding-top: 90px;
    background-image: url('/images/bg4.jpg');
}
@media screen and (min-width: 782px){
  body{
    padding-top: 70px;
  }
}
footer{
  color:#888;
  text-align:center;
  font-size:0.9em;
}

div.lista-elementos span.item-lista a{
  font-size:1.2em;
  font-weight: bolder;
}
div.lista-elementos .acciones{
  text-align: right;
}

div.boton-agregar {
  margin:10px 0 20px;
}
#paginacion{
  text-align: right;
  line-height: 2em;
  border-radius: 1em;
  padding:10px 16px;
}
.btn-xs{  
  box-shadow: 3px 3px 2px #888;
}
.form-control{
  height:inherit;
}

section.sec-thumbnail{
  text-align: center;
}
div.img-thumbnail{
  margin-bottom:1em;
}
div.navbar.navbar-fixed-top{
  background-image: url('/images/bg1.png');
}
.facebook-login{
  background-color: #3e5a98;
  color: white;
}
.alert-error, noscript {
  padding: 15px;
  margin-bottom: 20px;
  color: #b94a48;
  background-color: #f2dede;
}

.btn{
  margin: 1em 0;
}

hr{
  border-top-color:#ccc;
}