<% formularios.errores(flash, error, {
    password_confirm: {
      label: 'Confirmación de contraseña'
    },
    password: {
      label: 'Contraseña'
    }
  }) %>
<% layout('../layout') -%>

<div class="row">
  <div class="col-lg-offset-2 col-md-offset-1 col-xs-12 col-md-10 col-sm-10 col-lg-8">
    <form accept-charset="UTF-8" action="/usuarios/<%= usuario._id %>" method="post">
      <input type="hidden" name="_method" value="put">
        <%- formularios.campo('usuario', 'password', 'password', usuario, error, {
            label: 'Contraseña',
            data: {
              validaciones:'noVacio password'
            }
          }) %>
        <%- formularios.campo('usuario', 'password_confirm', 'password', usuario, error, {
            label: 'Confirmar contraseña',
            data: {
              validaciones:'noVacio password_confirm'
            }
          }) %>
      <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-6 text-center">
          <button class="btn btn-large btn-success btn-block" type="submit"><i class="icon-check-sign"></i> Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
