<% var total_paginas = Math.ceil(total/por_pagina) %>
<% var page = parseInt(pagina) %>
<% if (total_paginas > 1) { %>

  <% if (page !== 1) { %>
  <a href="<%- ruta %>?page=1" class="btn btn-xs btn-info usuarios-first"><i class="icon-fast-backward"></i> Primera</a>
  <a href="<%- ruta %>?page=<%- page - 1 %>" class="btn btn-xs btn-info usuarios-prev"><i class="icon-step-backward"></i> Anterior</a>
  <% } else { %>
  <a href="#" class="btn btn-xs btn-info disabled" disabled><i class="icon-fast-backward"></i> Primera</a>
  <a href="#" class="btn btn-xs btn-info disabled" disabled><i class="icon-step-backward"></i> Anterior</a>
  <% } %>
  <span class="paginador-current-report">Página <%- pagina %> de <%- total_paginas %></span>
  <% if (page !== total_paginas) { %>
    <a href="<%- ruta %>?page=<%- page + 1 %>" class="btn btn-xs btn-info usuarios-next"><i class="icon-step-forward"></i> Siguiente</a>
    <a href="<%- ruta %>?page=<%- total_paginas %>" class="btn btn-xs btn-info usuarios-last"><i class="icon-fast-forward"></i> Última</a>
  <% } else { %>
  <a href="#" class="btn btn-xs btn-info disabled" disabled><i class="icon-fast-forward"></i> Siguiente</a>
  <a href="#" class="btn btn-xs btn-info disabled" disabled><i class="icon-step-forward"></i> Última</a>
  <% } %>
<% } %>